{% extends "application/base.html" %}
{% block content %}
    <h1>Courselist:</h1>
    {% for course in content %}
        {{ course.name }} ({{ course.code }}) &nbsp; <a class="btn btn-outline-secondary" href="/course/{{ course }}">Details</a> &nbsp; <a class="btn btn-outline-secondary" href="/courseEdit/{{ course }}">Edit</a>   
        <a href="/courseStudents/{{course.name}}"><b>Students</b><a>
        <br>
    {% endfor %}

    {% if user.role.id == 3 %}
        <a href="/addCourse"><b>+ Add course</b><a>
    {% endif %}
{% endblock content %}
