{% extends "application/base.html" %}
{% block content %}
    {% if fail == 1 %}
        <h3>Error entering course</h3><br>
        Potrebno je prethodno poloziti Objektno Programiranje<br>
    {% endif %}
    <h2>Lista coursea:</h2>
    {% for course in content %}
        {{ course.name }}  <a class="btn btn-outline-secondary" href="{% url 'add' pk=appUser.id cpk=course.id %}">Add</a><br>
    {% endfor %}
    
{% endblock content %}

{% block content2 %}
    <h2>appUserCoursei ({{ appUser.email }})</h2>
    
            {% if not appUser.isIrregular %}
            <h4>1. Semestar:</h4>
            {% for appUserCourse in appUser.appusercourse_set.all %}
                {% for p in content %}
                    {% if p.id == appUserCourse.course_id and p.regularSemester == 1 %}
                        {{ p.name }} 
                        {% if appUserCourse.isPassed %}
                            PASSED
                        {% else%}
                            NOT PASSED YET
                        {% endif %}
                        <a class="btn btn-outline-secondary" href="{% url 'remove' pk=appUser.id cpk=appUserCourse.course_id %}">Remove</a>
                            <a class="btn btn-outline-secondary" href="{% url 'passed' pk=appUser.id cpk=appUserCourse.course_id %}">Passed</a>
                        <br>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <br>
            <h4>2. Semestar:</h4>
            {% for appUserCourse in appUser.appusercourse_set.all %}
                {% for p in content %}
                    {% if p.id == appUserCourse.course_id and p.regularSemester == 2 %}
                                                {{ p.name }} 
                        {% if appUserCourse.isPassed %}
                            PASSED
                        {% else%}
                            NOT PASSED YET
                        {% endif %} <a class="btn btn-outline-secondary" href="{% url 'remove' pk=appUser.id cpk=appUserCourse.course_id %}">Remove</a>
                            <a class="btn btn-outline-secondary" href="{% url 'passed' pk=appUser.id cpk=appUserCourse.course_id %}">Passed</a>
                        <br>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <br>
            <h4>3. Semestar:</h4>
            {% for appUserCourse in appUser.appusercourse_set.all %}
                {% for p in content %}
                    {% if p.id == appUserCourse.course_id and p.regularSemester == 3 %}
                                                {{ p.name }} 
                        {% if appUserCourse.isPassed %}
                            PASSED
                        {% else%}
                            NOT PASSED YET
                        {% endif %} <a class="btn btn-outline-secondary" href="{% url 'remove' pk=appUser.id cpk=appUserCourse.course_id %}">Remove</a>
                            <a class="btn btn-outline-secondary" href="{% url 'passed' pk=appUser.id cpk=appUserCourse.course_id %}">Passed</a>
                        <br>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <br>
            <h4>4. Semestar:</h4>
            {% for appUserCourse in appUser.appusercourse_set.all %}
                {% for p in content %}
                    {% if p.id == appUserCourse.course_id and p.regularSemester == 4 %}
                                                {{ p.name }} 
                        {% if appUserCourse.isPassed %}
                            PASSED
                        {% else%}
                            NOT PASSED YET
                        {% endif %} <a class="btn btn-outline-secondary" href="{% url 'remove' pk=appUser.id cpk=appUserCourse.course_id %}">Remove</a>
                            <a class="btn btn-outline-secondary" href="{% url 'passed' pk=appUser.id cpk=appUserCourse.course_id %}">Passed</a>
                        <br>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <br>
            <h4>5. Semestar:</h4>
            {% for appUserCourse in appUser.appusercourse_set.all %}
                {% for p in content %}
                    {% if p.id == appUserCourse.course_id and p.regularSemester == 5 %}
                                                {{ p.name }} 
                        {% if appUserCourse.isPassed %}
                            PASSED
                        {% else%}
                            NOT PASSED YET
                        {% endif %} <a class="btn btn-outline-secondary" href="{% url 'remove' pk=appUser.id cpk=appUserCourse.course_id %}">Remove</a>
                            <a class="btn btn-outline-secondary" href="{% url 'passed' pk=appUser.id cpk=appUserCourse.course_id %}">Passed</a>
                        <br>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <br>
            <h4>6. Semestar:</h4>
            {% for appUserCourse in appUser.appusercourse_set.all %}
                {% for p in content %}
                    {% if p.id == appUserCourse.course_id and p.regularSemester == 6 %}
                                                {{ p.name }} 
                        {% if appUserCourse.isPassed %}
                            PASSED
                        {% else%}
                            NOT PASSED YET
                        {% endif %} <a class="btn btn-outline-secondary" href="{% url 'remove' pk=appUser.id cpk=appUserCourse.course_id %}">Remove</a>
                            <a class="btn btn-outline-secondary" href="{% url 'passed' pk=appUser.id cpk=appUserCourse.course_id %}">Passed</a>
                        <br>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <br>
            
            {% elif appUser.isIrregular %}
            <h4>1. Semestar:</h4>
            {% for appUserCourse in appUser.appusercourse_set.all %}
                {% for p in content %}
                    {% if p.id == appUserCourse.course_id and p.irregularSemester == 1 %}
                                                {{ p.name }} 
                        {% if appUserCourse.isPassed %}
                            PASSED
                        {% else%}
                            NOT PASSED YET
                        {% endif %} <a class="btn btn-outline-secondary" href="{% url 'remove' pk=appUser.id cpk=appUserCourse.course_id %}">Remove</a>
                            <a class="btn btn-outline-secondary" href="{% url 'passed' pk=appUser.id cpk=appUserCourse.course_id %}">Passed</a>
                        <br>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <br>
            <h4>2. Semestar:</h4>
            {% for appUserCourse in appUser.appusercourse_set.all %}
                {% for p in content %}
                    {% if p.id == appUserCourse.course_id and p.irregularSemester == 2 %}
                                                {{ p.name }} 
                        {% if appUserCourse.isPassed %}
                            PASSED
                        {% else%}
                            NOT PASSED YET
                        {% endif %} <a class="btn btn-outline-secondary" href="{% url 'remove' pk=appUser.id cpk=appUserCourse.course_id %}">Remove</a>
                        
                            <a class="btn btn-outline-secondary" href="{% url 'passed' pk=appUser.id cpk=appUserCourse.course_id %}">Passed</a>
                        <br>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <br>
            <h4>3. Semestar:</h4>
            {% for appUserCourse in appUser.appusercourse_set.all %}
                {% for p in content %}
                    {% if p.id == appUserCourse.course_id and p.irregularSemester == 3 %}
                                                {{ p.name }} 
                        {% if appUserCourse.isPassed %}
                            PASSED
                        {% else%}
                            NOT PASSED YET
                        {% endif %} <a class="btn btn-outline-secondary" href="{% url 'remove' pk=appUser.id cpk=appUserCourse.course_id %}">Remove</a>
                        
                            <a class="btn btn-outline-secondary" href="{% url 'passed' pk=appUser.id cpk=appUserCourse.course_id %}">Passed</a>
                        <br>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <br>
            <h4>4. Semestar:</h4>
            {% for appUserCourse in appUser.appusercourse_set.all %}
                {% for p in content %}
                    {% if p.id == appUserCourse.course_id and p.irregularSemester == 4 %}
                                                {{ p.name }} 
                        {% if appUserCourse.isPassed %}
                            PASSED
                        {% else%}
                            NOT PASSED YET
                        {% endif %} <a class="btn btn-outline-secondary" href="{% url 'remove' pk=appUser.id cpk=appUserCourse.course_id %}">Remove</a>
                        
                            <a class="btn btn-outline-secondary" href="{% url 'passed' pk=appUser.id cpk=appUserCourse.course_id %}">Passed</a>
                        <br>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <br>
            <h4>5. Semestar:</h4>
            {% for appUserCourse in appUser.appusercourse_set.all %}
                {% for p in content %}
                    {% if p.id == appUserCourse.course_id and p.irregularSemester == 5 %}
                                                {{ p.name }} 
                        {% if appUserCourse.isPassed %}
                            PASSED
                        {% else%}
                            NOT PASSED YET
                        {% endif %} <a class="btn btn-outline-secondary" href="{% url 'remove' pk=appUser.id cpk=appUserCourse.course_id %}">Remove</a>
                        
                            <a class="btn btn-outline-secondary" href="{% url 'passed' pk=appUser.id cpk=appUserCourse.course_id %}">Passed</a>
                        <br>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <br>
            <h4>6. Semestar:</h4>
            {% for appUserCourse in appUser.appusercourse_set.all %}
                {% for p in content %}
                    {% if p.id == appUserCourse.course_id and p.irregularSemester == 6 %}
                                                {{ p.name }} 
                        {% if appUserCourse.isPassed %}
                            PASSED
                        {% else%}
                            NOT PASSED YET
                        {% endif %} <a class="btn btn-outline-secondary" href="{% url 'remove' pk=appUser.id cpk=appUserCourse.course_id %}">Remove</a>
                        
                            <a class="btn btn-outline-secondary" href="{% url 'passed' pk=appUser.id cpk=appUserCourse.course_id %}">Passed</a>
                        <br>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <br>
            <h4>7. Semestar:</h4>
            {% for appUserCourse in appUser.appusercourse_set.all %}
                {% for p in content %}
                    {% if p.id == appUserCourse.course_id and p.irregularSemester == 7 %}
                                                {{ p.name }} 
                        {% if appUserCourse.isPassed %}
                            PASSED
                        {% else%}
                            NOT PASSED YET
                        {% endif %} <a class="btn btn-outline-secondary" href="{% url 'remove' pk=appUser.id cpk=appUserCourse.course_id %}">Remove</a>
                        
                            <a class="btn btn-outline-secondary" href="{% url 'passed' pk=appUser.id cpk=appUserCourse.course_id %}">Passed</a>
                        <br>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <br>
            <h4>8. Semestar:</h4>
            {% for appUserCourse in appUser.appusercourse_set.all %}
                {% for p in content %}
                    {% if p.id == appUserCourse.course_id and p.irregularSemester == 8 %}
                                                {{ p.name }} 
                        {% if appUserCourse.isPassed %}
                            PASSED
                        {% else%}
                            NOT PASSED YET
                        {% endif %} <a class="btn btn-outline-secondary" href="{% url 'remove' pk=appUser.id cpk=appUserCourse.course_id %}">Remove</a>
                        
                            <a class="btn btn-outline-secondary" href="{% url 'passed' pk=appUser.id cpk=appUserCourse.course_id %}">Passed</a>
                        <br>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <br>
            {% endif %}
    
    
    <a href="{% url 'students' %}">Natrag</a>
{% endblock content2%}